<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>622443569239-tu2si0b3iek5fi4khp19eev8prq98r89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622443569239-tu2si0b3iek5fi4khp19eev8prq98r89</string>
	<key>API_KEY</key>
	<string>AIzaSyANKI9wYlqd1ZHlSDKR6OfP5k7wXoP5so4</string>
	<key>GCM_SENDER_ID</key>
	<string>622443569239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photostash.PhotoStash</string>
	<key>PROJECT_ID</key>
	<string>photostash-d584d</string>
	<key>STORAGE_BUCKET</key>
	<string>photostash-d584d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622443569239:ios:49266edf9b61b73f</string>
	<key>DATABASE_URL</key>
	<string>https://photostash-d584d.firebaseio.com</string>
</dict>
</plist>